<aside class="sidebar col-lg-3">
        <div class="sidebar__content js-sticky-top">

                <button type="button" class="btn peach-gradient" style="border-bottom: 1px solid black; border-top: 1px solid black;  font-weight:900; font-size:20px; margin-bottom: 20px;">FROM
                        $ 300 <sub>p.p</sub></button>
                <!-- <hr> -->
                <br>
                <div class="sidebar__finder card bg-primary text-white">
                        <h4>Time to Book:</h4>
                        <p style="font-size:22px;  color: red; font-weight: 900" class="flashit">{{guara.datediff}}
                                Days
                                Remaining</p>
                        <h4>Depature Date:</h4>
                        <p style="font: size 20px;">{{guara.depature_date}}</p>
                        <h4>Booked Seats:</h4>
                        <p style="font: size 40px;">{{guara.people_booked}}<sub> /7</sub> Seats</p>
                        <!-- <p style="padding-left:20px; color:white; font-weight:700;font-size: 17px;">Seats booked: 5<sub>/7</sub></p>
                    <p style="padding-left:20px; color:white;font-weight:700;font-size: 17px;">Book Before: {{guara.book_before}}</p> -->
                    <a href="{% url 'profiles:bookings' %}"><button class="btn btn-dark btn--round mx-auto mt-2 w-100" type="submit">Join This Trip
                        </button></a> 
                </div>
                <hr>
        </div>
</aside>

<li><span style="font-weight:900;">Available: </span> All year round</li>
                      <li><span style="font-weight:900;">Tour Duration: </span> 0700hrs – 1800hrs</li>
                      <li><span style="font-weight:900;">Pick up/drop off location: </span> Aramati Safari Offices – Ngong Road</li>
                      <li> <span style="font-weight:900;">Departure Time: </span> 0700hrs</li>


                      {% include "footer.html" %}