{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<main class="page-main">

    <nav class="breadcrumb-nav d-flex align-items-center" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:aboutus' %}">About Us</a></li>
                <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:shortsafaris' %}">Short Safaris</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>MAASAI MARA SAFARI</span></li>

            </ol>
        </div>
    </nav>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <aside class="sidebar col-lg-3">
                    <div class="sidebar__content js-sticky-top">
                        <div class="sidebar__finder card bg-primary text-white">
                            <h4 class="m-0 mb-lg-4">Create a safari group.</h4>
                            <form class="collapse show d-lg-block mt-3" id="hotelFinder" action="https://www.enformed.io/arn8nc8f"
                                method="POST" data-toggle="validator">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label>Name:</label>
                                        <input name="Name:" class="form-control">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label>Email:</label>
                                        <input name="Email:" class="form-control">
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-lg-12 form-group">
                                                <label class="label-text" for="hotelInDate">Depature Date:</label>
                                                <div class="input-group-append">
                                                    <input class="form-control js-input-date " id="hotelInDate" type="text"
                                                        name="Depature date:" required="required" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <label class="label">Travel Info:</label>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 form-group col-lg-12"><span class="form-select">
                                                    <select class="form-control select2 js-form-select" id="hotelAdults"
                                                        name="Adults:">
                                                        <option value="1 Adult">1 Adult</option>
                                                        <option value="2 Adults">2 Adults</option>
                                                        <option value="3 Adults">3 Adults</option>
                                                        <option value="4 Adults">4 Adults</option>
                                                        <option value="5 Adults">5 Adults</option>
                                                        <option value="5 Adults">6 Adults</option>
                                                        <option value="5 Adults">7 Adults</option>
                                                    </select></span>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-12 form-group"><span class="form-select">
                                                    <select class="form-control select2 js-form-select" id="hotelDeparture"
                                                        name="Open or Closed:">
                                                        <label>Open or Closed Group</label>
                                                        <option value="Open">Open</option>
                                                        <option value="Closed">Closed</option>
                                                    </select></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-dark btn--round mx-auto mt-2 w-100" type="submit">Request Trip
                                </button>
                            </form>
                            <button class="btn-toggle btn btn-primary-light border-0 w-100 py-3 d-lg-none" data-target="#hotelFinder"
                                data-toggle="collapse" aria-expanded="true" type="button"><span class="icon-bar"></span></button>
                        </div>

                        <button class="btn-toggle btn btn-primary-light border-0 w-100 py-3 d-lg-none" data-target="#hotelFinder"
                            data-toggle="collapse" aria-expanded="true" type="button"><span class="icon-bar"></span></button>

                    </div>
                </aside>

                <div class="col-lg-9" id="barba-wrapper">
                    <div class="barba-container">
                        <nav class="hotel-nav">
                            <ul class="hotel-nav__menu nav nav-tabs" role="tablist">
                                <li class="nav-item d-flex col-12 col-sm p-0"><a class="nav-link active" data-toggle="tab"
                                        href="#hotel" role="tab" aria-controls="hotel" aria-selected="false"><span>Package
                                            information and Details</span></a>
                                </li>
                                <li class="nav-item d-flex col-12 col-sm p-0"><a class="nav-link" data-toggle="tab"
                                        href="#hotelServices" role="tab" aria-controls="hotelServices" aria-selected="true"><span>
                                            Itinerary</span></a>
                                </li>
                                <li class="nav-item d-flex col-12 col-sm p-0"><a class="nav-link" data-toggle="tab"
                                        href="#hotelServicess" role="tab" aria-controls="hotels" aria-selected="false"><span>
                                            Rates</span></a>
                                </li>
                            </ul>
                        </nav>

                        <div class="tab-content">

                            <div class="tab-pane active show" id="hotel" role="tabpanel">

                                <section>

                                    <h3 class="fw-md mb-1">3 DAYS MAASAI MARA SAFARI</h3>
                                    <ul class="hotel-title mb-3">

                                        <li class="d-flex">
                                            <div class="media-object"><i class="fas fa-map-marker-alt" style="margin-right: 12px;"></i></div>
                                            <div class="local"><span> ‎Narok County.</span></div>
                                        </li>
                                    </ul>
                                    <div class="hotel-gallery">
                                        <div class="hotel-gallery__carousel swiper-container js-hotel-carousel">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"><img class="img-fluid img-cover" src="{% static 'img/maasaimara/conservancyimg3.jpg' %} "
                                                        alt="#" />
                                                </div>
                                                <div class="swiper-slide"><img class="img-fluid img-cover" src="{% static 'img/maasaimara/a86fab233b324c079958c3a47b1bf4ce.jpeg' %}  "
                                                        alt="#" />
                                                </div>
                                                <div class="swiper-slide"><img class="img-fluid img-cover" src="{% static 'img/maasaimara/248018_lwica-lwiatko.jpg' %}  "
                                                        alt="#" />
                                                </div>
                                                <div class="swiper-slide"><img class="img-fluid img-cover" src="{% static 'img/maasaimara/mm-800x530.jpg' %}"
                                                        alt="#" />
                                                </div>
                                                <div class="swiper-slide"><img class="img-fluid img-cover" src="{% static 'img/maasaimara/masai-mara-buffalo.jpg' %} "
                                                        alt="#" />
                                                </div>
                                                <div class="swiper-slide"><img class="img-fluid img-cover" src="{% static 'img/maasaimara/Masai-Mara-Wild-Eye-Trip-Report_036-1.jpg' %}  "
                                                        alt="#" />
                                                </div>
                                                <div class="swiper-slide"><img class="img-fluid img-cover" src="{% static 'img/maasaimara/north-tanzania.jpg' %}  "
                                                        alt="#" />
                                                </div>

                                            </div>
                                            <div class="hotel-gallery__controls"><a class="hotel-gallery__arrow shadow-sm js-prev"
                                                    role="button"><i class="icon"><svg xmlns="http://www.w3.org/2000/svg"
                                                            viewbox="0 0 44 44">
                                                            <path d="M22.119 44.237C9.922 44.237 0 34.315 0 22.119S9.922.001 22.119.001s22.119 9.922 22.119 22.118-9.924 22.118-22.119 22.118zm0-42.736C10.75 1.501 1.5 10.75 1.5 22.119c0 11.368 9.25 20.618 20.619 20.618s20.619-9.25 20.619-20.618c0-11.369-9.25-20.618-20.619-20.618z" />
                                                            <path d="M24.667 29.884a.74.74 0 0 1-.53-.22l-7.328-7.334a.752.752 0 0 1 0-1.061l7.328-7.333a.75.75 0 1 1 1.061 1.061L18.4 21.8l6.798 6.805a.752.752 0 0 1 0 1.061.75.75 0 0 1-.531.218z" /></svg></i></a><a
                                                    class="hotel-gallery__arrow shadow-sm js-next" role="button"><i
                                                        class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 44 44">
                                                            <path d="M22.118 44.236C9.922 44.236 0 34.314 0 22.118S9.922 0 22.118 0s22.118 9.922 22.118 22.118-9.922 22.118-22.118 22.118zm0-42.736C10.75 1.5 1.5 10.749 1.5 22.118c0 11.368 9.25 20.618 20.618 20.618 11.37 0 20.618-9.25 20.618-20.618 0-11.369-9.248-20.618-20.618-20.618z" />
                                                            <path d="M19.341 29.884a.75.75 0 0 1-.53-1.281l6.796-6.804-6.796-6.803a.75.75 0 1 1 1.061-1.061l7.325 7.333a.75.75 0 0 1 0 1.061l-7.325 7.333a.742.742 0 0 1-.531.222z" /></svg></i></a></div>
                                        </div>
                                        <div class="hotel-gallery__thumbs swiper-container js-hotel-carousel-thumbs">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide"><a class="hotel-gallery__thumb js-gallery-link"
                                                        href="{% static 'img/maasaimara/conservancyimg3.jpg' %} "
                                                        data-description="Joshua Tree Homesteader Cabin"><img class="img-cover"
                                                            src="{% static 'img/maasaimara/conservancyimg3.jpg' %} "
                                                            alt="#" /></a></div>
                                                <div class="swiper-slide"><a class="hotel-gallery__thumb js-gallery-link"
                                                        href="{% static 'img/maasaimara/a86fab233b324c079958c3a47b1bf4ce.jpeg' %} "
                                                        data-description="A perfect place to snuggle up after a fun day in Asheville!"><img
                                                            class="img-cover" src="{% static 'img/maasaimara/a86fab233b324c079958c3a47b1bf4ce.jpeg' %} "
                                                            alt="#" /></a></div>
                                                <div class="swiper-slide"><a class="hotel-gallery__thumb js-gallery-link"
                                                        href="{% static 'img/maasaimara/248018_lwica-lwiatko.jpg' %} "
                                                        data-description="A perfect place to snuggle up after a fun day in Asheville!"><img
                                                            class="img-cover" src="{% static 'img/maasaimara/248018_lwica-lwiatko.jpg' %} "
                                                            alt="#" /></a></div>
                                                <div class="swiper-slide"><a class="hotel-gallery__thumb js-gallery-link"
                                                        href="{% static 'img/maasaimara/mm-800x530.jpg' %} "
                                                        data-description="Underfloor heating in the bathroom floor to keep your toes warm!"><img
                                                            class="img-cover" src="{% static 'img/maasaimara/mm-800x530.jpg' %} "
                                                            alt="#" /></a></div>
                                                <div class="swiper-slide"><a class="hotel-gallery__thumb js-gallery-link"
                                                        href="{% static 'img/maasaimara/masai-mara-buffalo.jpg' %}"
                                                        data-description="Full kitchen with full size refrigerator and dining table"><img
                                                            class="img-cover" src="{% static 'img/maasaimara/masai-mara-buffalo.jpg' %}"
                                                            alt="#" /></a></div>
                                                <div class="swiper-slide"><a class="hotel-gallery__thumb js-gallery-link"
                                                        href="{% static 'img/maasaimara/Masai-Mara-Wild-Eye-Trip-Report_036-1.jpg' %} "
                                                        data-description="Full kitchen with full size refrigerator and dining table"><img
                                                            class="img-cover" src="{% static 'img/maasaimara/Masai-Mara-Wild-Eye-Trip-Report_036-1.jpg' %} "
                                                            alt="#" /></a></div>
                                                <div class="swiper-slide"><a class="hotel-gallery__thumb js-gallery-link"
                                                        href="{% static 'img/maasaimara/north-tanzania.jpg' %} "
                                                        data-description="Full kitchen with full size refrigerator and dining table"><img
                                                            class="img-cover" src="{% static 'img/maasaimara/north-tanzania.jpg' %} "
                                                            alt="#" /></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <hr>
                                <div class="row">
                                    <div class="col-12 col-md-12 d-flex">
                                        <div class="hotel__intro hotel-card w-100">
                                            <section class="pb-4">
                                                <h5 class="d-flex align-items-center text-primary mb-3"><i class="fas fa-info-circle"
                                                        style="margin-right: 12px;"></i>Details:</h5>
                                                <p>Probably Kenya’s number one tourist destination it holds spectacular
                                                    scenery as well as vast amounts of bird and wildlife. The Reserve
                                                    is famous for it’s huge herds of Wildebeest
                                                    and Zebra which migrate through Maasai Mara from the Serengeti
                                                    around June-October each year. However aside from abundant birdlife
                                                    the Maasai Mara is a Big 5 National Reserve meaning it has Lion,
                                                    Leopard, Buffalo, Elephant and Black Rhino which permanently reside
                                                    here. It also has Cheetahs, Serval Cats,Hyenas, many species of
                                                    Antelope and resident herds of Zebra and Wildebeest which don’t
                                                    migrate to Tanzania and therefore can be seen year round.
                                                    As well as the plains wildlife there is also some stunning scenery
                                                    and rivers including the Mara, Talek and Sand River which are home
                                                    to Hippos and Crocodiles. </p>

                                            </section>

                                        </div>
                                    </div>
                                </div>
                                </section>

                            </div>
                            <div class="tab-pane" id="hotelServices" role="tabpanel">
                                <section>
                                    <hr class="mb-4">
                                    <div class="hotel-card">
                                        <h2 class="mb-4">Itinerary</h2>
                                        <h4>General Informantion</h4>
                                        <ul>

                                            <li><strong>Available:</strong> All year round</li>
                                            <li><strong>Tour Duration:</strong>0600hrs – 1800hrs</li>
                                            <li><strong>Pick up/drop off location:</strong>Aramati Safari Offices –
                                                Ngong Road</li>
                                            <li> <strong>Departure Time:</strong>0600hrs</li>
                                        </ul>
                                        <br>
                                        <div class="row">
                                            <div class="col-12 col-md-12 d-flex">
                                                <div class="hotel__intro hotel-card w-100">
                                                    <section class="pb-4">
                                                        <h2 class="d-flex align-items-center text-primary mb-3"><i
                                                                class="fas fa-info-circle" style="margin-right: 12px;"></i>Day
                                                            1: Nairobi-Masai Mara</h2>
                                                        <p>Arrive JKIA, you will be met by our representative and
                                                            briefed on the safari. Depart Nairobi for a
                                                            journey south along the floor of the great rift valley then
                                                            past Narok climb the western wall entering
                                                            Hemingway&#39;s country &#39;&#39;Serengeti
                                                            plans&#39;&#39;. Arrive in time for lunch. Afternoon enjoy
                                                            a game drive in this
                                                            famous reserve. Dinner and overnight at the camp/lodge.</p>

                                                        <p>Suggested accommodation or similar standard:</p>
                                                        <ul>
                                                            <li>


                                                                <p> Lenchada Tourist camp 2* <a href="lenchadatouristcamp.com/">lenchadatouristcamp.com/</a></p>
                                                            </li>
                                                            <li>
                                                                <p>Explore Nature Lodge 3*<a href="www.explorenaturemaralodge.com">www.explorenaturemaralodge.com</a></p>
                                                            </li>
                                                        </ul>

                                                    </section>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-12 d-flex">
                                                <div class="hotel__intro hotel-card w-100">
                                                    <section class="pb-4">
                                                        <h2 class="d-flex align-items-center text-primary mb-3"><i
                                                                class="fas fa-info-circle" style="margin-right: 12px;"></i>Day
                                                            2: Masai Mara</h2>
                                                        <p>Full day game viewing whereby you leave the camp after
                                                            breakfast with picnic lunch.
                                                            The Mara is the land of African legend: Lion are abundant
                                                            throughout the park, as are the elephants,
                                                            giraffes, and a variety of gazelle species and zebra.
                                                            Cheetah and leopard are also regularly seen and,
                                                            less commonly, rhino. The annual wildebeest migration, one
                                                            of nature’s few remaining wildlife
                                                            spectacles, occurs in the Mara from July to September where
                                                            the big animals and their predators are
                                                            to be present in abundance during the time frame of this
                                                            trip. Several species of Bee-Eater, the flying
                                                            rainbow that heads the list of the Mara’s birds, occur in
                                                            the reserve. As well as wildlife, the Maasai
                                                            Mara is also home to many members of the colorful Maasai
                                                            tribe who may be seen around the borders
                                                            of the park – Morans (warriors) loping across the plains,
                                                            young boys herding goats, or elders grouped
                                                            under a tree discussing matters of the day. Dinner and
                                                            overnight at the camp/lodge.</p>

                                                    </section>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-12 d-flex">
                                                <div class="hotel__intro hotel-card w-100">
                                                    <section class="pb-4">
                                                        <h2 class="d-flex align-items-center text-primary mb-3"><i
                                                                class="fas fa-info-circle" style="margin-right: 12px;"></i>Day
                                                            3: Mara – Nairobi</h2>
                                                        <p>Early morning game drive, return to the camp/lodge for
                                                            breakfast. Depart for Nairobi. A stopover is
                                                            provided at Narok Town to browse in the bustling, vibrant
                                                            Masai markets to buy curios and
                                                            handicrafts. On arrival in Nairobi drop off at the airport.</p>

                                                    </section>

                                                </div>
                                            </div>
                                        </div>
                                        <strong style="font-family: Snell Roundhand, cursive; font-size: 19px; margin-left: 40%;">END
                                            OF SAFARI</strong>
                                    </div>


                                </section>

                            </div>
                            <div class="tab-pane" id="hotelServicess" role="tabpanel">
                                <section>
                                    <hr class="mb-4">

                                    <div class="hotel-card" id="rates">
                                        <h4 class="mb-4"><strong> Rates: (USING A SAFARI VAN,
                                                COST PER PERSON SHARING)</strong></h4>
                                        <div class="table-title">
                                        </div>
                                        <div class="container">
                                            <h5 class="d-flex align-items-center text-primary mb-3"><i class="fas fa-info-circle"
                                                    style="margin-right: 12px;"></i>LOW SEASON 1 ST APRIL-30 TH JUNE
                                                (EXCLUDING EASTER), 1 ST NOV-19 TH DEC</h5>

                                            <div class="table">
                                                <div class="table-header">
                                                    <div class="header__item"><a id="name" class="filter__link" href="#">HOTEL</a></div>
                                                    <div class="header__item"><a id="wins" class="filter__link filter__link--number"
                                                            href="#">1 PAX</a></div>
                                                    <div class="header__item"><a id="draws" class="filter__link filter__link--number"
                                                            href="#">2 PAX</a></div>
                                                    <div class="header__item"><a id="losses" class="filter__link filter__link--number"
                                                            href="#">3 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">4 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">5 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">6 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">7 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">SRS</a></div>
                                                </div>
                                                <div class="table-content">
                                                    <div class="table-row">
                                                        <div class="table-data">2 STAR HOTELS</div>

                                                        <div class="table-data">900 </div>
                                                        <div class="table-data">605</div>
                                                        <div class="table-data">505</div>
                                                        <div class="table-data">455</div>
                                                        <div class="table-data">425</div>
                                                        <div class="table-data">410</div>
                                                        <div class="table-data">395</div>
                                                        <div class="table-data">-</div>



                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-data">3 STAR HOTELS</div>
                                                        <div class="table-data">1015</div>
                                                        <div class="table-data">720</div>
                                                        <div class="table-data">620</div>
                                                        <div class="table-data">570</div>
                                                        <div class="table-data">540</div>
                                                        <div class="table-data">520</div>
                                                        <div class="table-data">510</div>
                                                        <div class="table-data">50</div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <h5 class="d-flex align-items-center text-primary mb-3"><i class="fas fa-info-circle"
                                                    style="margin-right: 12px;"></i>HIGH SEASON 5 TH JAN – 31 ST MARCH
                                                – 1
                                                ST NOV. – 15 TH DEC</h5>

                                            <div class="table">
                                                <div class="table-header">
                                                    <div class="header__item"><a id="name" class="filter__link" href="#">HOTEL</a></div>
                                                    <div class="header__item"><a id="wins" class="filter__link filter__link--number"
                                                            href="#">1 PAX</a></div>
                                                    <div class="header__item"><a id="draws" class="filter__link filter__link--number"
                                                            href="#">2 PAX</a></div>
                                                    <div class="header__item"><a id="losses" class="filter__link filter__link--number"
                                                            href="#">3 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">4 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">5 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">6 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">7 PAX</a></div>

                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">SRS</a></div>
                                                </div>
                                                <div class="table-content">
                                                    <div class="table-row">
                                                        <div class="table-data">2 STAR HOTELS</div>
                                                        <div class="table-data">900 </div>
                                                        <div class="table-data">605</div>
                                                        <div class="table-data">505</div>
                                                        <div class="table-data">455</div>
                                                        <div class="table-data">425</div>
                                                        <div class="table-data">410</div>
                                                        <div class="table-data">395</div>
                                                        <div class="table-data">-</div>



                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-data">3 STAR HOTELS</div>
                                                        <div class="table-data">620 </div>
                                                        <div class="table-data">420</div>
                                                        <div class="table-data">355</div>
                                                        <div class="table-data">325</div>
                                                        <div class="table-data"> 305</div>
                                                        <div class="table-data"> 290</div>
                                                        <div class="table-data">280</div>
                                                        <div class="table-data">25</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <h5 class="d-flex align-items-center text-primary mb-3"><i class="fas fa-info-circle"
                                                    style="margin-right: 12px;"></i>PEAK SEASON 1 ST JULY – 31 ST
                                                OCTOBER</h5>
                                            <div class="table">
                                                <div class="table-header">
                                                    <div class="header__item"><a id="name" class="filter__link" href="#">HOTEL</a></div>
                                                    <div class="header__item"><a id="wins" class="filter__link filter__link--number"
                                                            href="#">1 PAX</a></div>
                                                    <div class="header__item"><a id="draws" class="filter__link filter__link--number"
                                                            href="#">2 PAX</a></div>
                                                    <div class="header__item"><a id="losses" class="filter__link filter__link--number"
                                                            href="#">3 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">4 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">5 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">6 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">7 PAX</a></div>
                                                    <div class="header__item"><a id="total" class="filter__link filter__link--number"
                                                            href="#">SRS</a></div>
                                                </div>
                                                <div class="table-content">
                                                    <div class="table-row">
                                                        <div class="table-data">2 STAR HOTELS</div>
                                                        <div class="table-data">900 </div>
                                                        <div class="table-data">605</div>
                                                        <div class="table-data">505</div>
                                                        <div class="table-data">455</div>
                                                        <div class="table-data">425</div>
                                                        <div class="table-data">410</div>
                                                        <div class="table-data">395</div>
                                                        <div class="table-data">-</div>


                                                    </div>
                                                    <div class="table-row">
                                                        <div class="table-data">3 STAR HOTELS</div> 
                                                        <div class="table-data">1040</div>
                                                        <div class="table-data">745</div>
                                                        <div class="table-data">650</div>
                                                        <div class="table-data">600</div>
                                                        <div class="table-data">570</div>
                                                        <div class="table-data">550</div>
                                                        <div class="table-data">535</div>
                                                        <div class="table-data">70</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hotel-card">
                                        <section>
                                            <h5>Included:</h5>
                                            <ul class="hotel-facilities d-flex flex-wrap flex-column flex-md-row">
                                                <li class="mr-2"><i class="fas fa-check" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Accommodation on fullboard basis at
                                                        the lodge</span></li>
                                                <li class="mr-2"><i class="fas fa-check" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Transport in a private safari van
                                                        with a pop-up roof</span></li>
                                                <li class="mr-2"><i class="fas fa-check" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Park entry fees</span></li>
                                                <li class="mr-2"><i class="fas fa-check" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Mineral
                                                        water</span></li>
                                                <li class="mr-2"><i class="fas fa-check" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">English
                                                        speaking driver guide</span></li>

                                                <li class="mr-2"><i class="fas fa-check" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Game drives</span></li>

                                            </ul>
                                        </section>
                                    </div>
                                    <div class="hotel-card">
                                        <section>
                                            <h4 class="mb-4">Not Included: </h4>
                                            <ul class="hotel-facilities d-flex flex-wrap flex-column flex-md-row">
                                                <li class="mr-2"><i class="fas fa-times" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Drinks</span></li>
                                                <li class="mr-2"><i class="fas fa-times" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Tips (tipping guideline US$ 10 pp per
                                                        day)</span></li>
                                                <li class="mr-2"><i class="fas fa-times" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Extra meals/lunch on the last day</span></li>
                                                <li class="mr-2"><i class="fas fa-times" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Masai Village</span></li>
                                                <li class="mr-2"><i class="fas fa-times" style="margin-right:12px;"></i><span
                                                        class="align-middle mr-2">Balloon Safari (USD 450)</span></li>
                                            </ul>
                                        </section>
                                    </div>


                                </section>

                            </div>
                            <div class="hotel-card">
                                <h2>IMPORTANT INFO PLEASE READ CAREFULLY</h2>
                                <ul style="font-size: 15px; ">
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>The Tours and the
                                        itineraries CANNOT be changed. As it is a sharing tour, we provide the tours as
                                        mentioned on our website (unless everyone in the vehicle agrees to a different
                                        itinerary).</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>We recommend to
                                        our guests to always be on time and to follow our driver&#39;s suggestions
                                        regarding
                                        timing, in this way you&#39;ll have a wonderful tour and we&#39;ll be 100% sure
                                        that we&#39;ll have no complaints
                                        or recriminations.</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>Once you have
                                        joined a tour already opened or created a new group, your information (name,
                                        mobile
                                        phone, email address) will be given to the other participants joining your
                                        tour.</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>Every time a new
                                        guest will join or cancel the tour, you will receive a new automatic voucher,
                                        with
                                        the guest&#39;s information, number of participants and the new price
                                        you&#39;ll pay per person.</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>Each Safari
                                        vehicle takes a maximum of 7 passengers</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>Payment will be
                                        made at the day of departure in cash USD, notes from year 2004 onwards</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>At the moment we
                                        do not accept credit cards for payment, credit card is requested only to
                                        guarantee
                                        your services.</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>Cancellation
                                        policy is 7 days prior the service, after this terms the full amount (based on
                                        your
                                        booking) will be charged on your credit card in case of late cancelation or no
                                        show.</li>
                                    <br>
                                    <li><i class="fas fa-caret-right" style="margin-right: 12px;"></i>If you have any
                                        further questions, please don&#39;t hesitate to contact us, will be our
                                        pleasure to help
                                        you. For private/customized tours please contact us direct. Our email remains
                                        <a href="info@aramatisafaris.co.ke">info@aramatisafaris.co.ke</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

        <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
    </div>

</main>
<footer class="page-footer">
    <div class="page-footer__cover jarallax" data-speed="0.5"><img class="jarallax-img" src="https://s-media-cache-ak0.pinimg.com/originals/35/76/a5/3576a51097ee19c85932943e6f73ea2f.jpg"
            alt="#"></div>
    <div class="container mb-5 mb-lg-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <h3 class="h3 text-uppercase">Aramati safaris</h3>
                <ul class="page-footer__address">
                    <li class="mb-2"><strong class="float-left mr-1">A:</strong>
                        Rehema Place, Suite B14, Ngong Road/Ring Road,
                        Adjacent Eastlands Hotel & Opposite Nakumatt Ngong Road (Prestige Plaza)
                    </li>
                    <li class="mb-2"><strong class="float-left mr-1">P:</strong>
                        24/7 customer support:
                        <a href="tel:#">+254 722 44 32 74, +254 734 44 32 74</a>
                    </li>
                    <li class="mb-2"><strong class="float-left mr-1">E:</strong>
                        <a href="mailto:#">info@aramatisafaris.co.ke</a>
                    </li>
                </ul>
                <h4 class="h4 mb-2">Follow us:</h4>
                <ul class="footer-social d-flex flex-wrap">
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <h3 class="h3 text-uppercase">customer support</h3>
                <ul class="page-footer__support list-styled">
                    <li class="mb-2"><a href="#" target="_blank">Faq</a></li>
                    <li class="mb-2"><a href="#" target="_blank">How do I make a reservation?</a></li>
                    <li class="mb-2"><a href="#" target="_blank">Payment options</a></li>
                    <li class="mb-2"><a href="#" target="_blank">Booking tips</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 mt-5">
                <h3 class="h3 text-uppercase">get our best offers</h3>
                <form class="subscribe-form" action="#" method="POST">
                    <div class="input-group input-group--lg flex-nowrap mb-4">
                        <input class="form-control form-control-lg" type="email" placeholder="Enter Your email"
                            required>
                        <div class="input-group-append">
                            <button class="btn btn-btn btn-light btn--round" type="submit"><i class="fa fa-send"></i>
                            </button>
                        </div>
                    </div>
                    <p>We guarantee your confidentiality, and we also undertake not to transfer your email address
                        to third parties.</p>
                </form>
            </div>
        </div>
    </div>
    <div class="page-footer__copyright text-center">
        <div class="container">
            <div class="hr"></div>Copyright © 2014 Aramati Safaris. All rights reserved.<br /><a class="text-light text-uppercase"
                href="https://themeforest.net/user/netgon">This was created by Negrita Developers.
                <script>
                    document.write(new Date().getFullYear());
                </script></a>
        </div>
    </div>
</footer>
<style>
    p {
        color: black;
        font-size: 15px;
    }
</style>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}