{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ block.super}}


<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<main class="page-main">
    <nav class="breadcrumb-nav d-flex align-items-center" aria-label="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:home' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:aboutus' %}">About Us</a></li>
                <li class="breadcrumb-item active" aria-current="page"><span>Long Safaris </span></li>
            </ol>
        </div>
    </nav>
    <div class="page-content">
        <div class="container">
            <div class="row">
                <aside class="sidebar col-lg-3 order-1 order-lg-0">
                    <div class="sidebar__content js-sticky-top">
                        <div class="sidebar-filter modal card fade" id="sidebarFilter" tabindex="-1" role="dialog">
                            <button class="btn-toggle btn btn-light" type="button" data-dismiss="modal"><span class="icon-bar"></span></button>
                            <div class="modal-header bg-white">
                                <h4 class="modal-title">See more packages:</h4>

                            </div>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <ul class="sidebar-filter__list">
                                            <li class="sidebar-filter__item">
                                                <h5 class="sidebar-filter__title"><a class="sidebar-filter__toggle d-flex justify-content-between align-items-center"
                                                        href="#accommodation" data-toggle="collapse" role="button"><span>Safaris:</span><i
                                                            class="fa fa-angle-down"></i></a></h5>
                                                <div class="collapse show" id="accommodation">
                                                    <div class="sidebar-filter__content">
                                                        <ul>
                                                            <li>
                                                                <a href="">Short Safaris(2-5 days)</a>
                                                            </li>
                                                            <li>
                                                                <a href="">Long Safaris(6-13 days)</a>
                                                            </li>
                                                            <li>
                                                                <a href="">Request customized Safari.</a>
                                                            </li>
                                                        </ul>

                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-lg-9 category-content">

                    <!-- <nav class="sortbar navbar shadow-sm d-flex align-items-stretch">
                        <div class="sortbar__title d-flex align-items-stretch">
                            <button class="navbar-brand d-flex align-items-center pointer js-toggle-sidebar"
                                data-target="#sidebarFilter" data-toggle="modal" type="button"><i class="d-lg-none icon icon-filter"></i><span
                                    class="ml-2 d-none d-lg-inline">Sort by:</span></button>
                        </div>
                        <div class="sortbar__sort js-sorting d-flex align-items-stretch"><a class="nav-link" href="#">Date</a><a
                                class="nav-link" href="#">Price</a><a class="nav-link active js-toggle-grid" href="#"
                                data-grid="grid" data-cols="col-12 col-sm-6 col-xl-4 d-flex"><i class="icon icon-grid"></i></a><a
                                class="nav-link js-toggle-grid" href="#" data-grid="list" data-cols="col-12 d-flex"><i
                                    class="icon icon-list-mb"></i></a></div>
                    </nav> -->
                    
                    <div class="category-content__items pad-lg-20">
                        <div class="col-3 col-sm-12 ">
                            <div class="product bg-white js-grid-item product--list">
                                <a class="product__img-top d-block" href=" "><img class="img-fluid"
                                        src="{% static 'img/amboseli/Giraffe+in+front+Amboseli+national+park+Kenya.jpg' %}"
                                        alt="#" /></a>
                                <div class="product__body">


                                    <h4 class="product__title"><a href=" ">6 DAYS AMBOSELI, ABERDARE, NAKURU, MASAI MARA SAFARI</a></h4>
                                    <!-- <div class="product__rating mb-2"> 
                                        <div class="rating">
                                            <select class="js-rating-stat" data-current-rating="5">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected="selected">5</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <ul class="product__stat d-flex flex-wrap justify-content-between align-items-center">
                                        <li class="mr-3"><span>Kajiado County, Aberdare ranges, Nakuru, Narok County</span><i class="bullet"></i></li>
                                    </ul>
                                    <hr>
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Join now and pay</span></li>
                                        <li><span class="cost">USD 975 - 2330 </span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <div class="product__desc">
                                        <p>This 6 days safari takes you to some of Kenya’s best Parks which include: Amboseli,
                                            Aberdare, Lake Nakuru National Park and the Masai Mara National Reserve. During the
                                            safari you will traverse the Great Rift Valley and sisal plantations and experience Kenya like
                                            never before.</p><a class="product__link-more" href=" ">Read
                                            more</a>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block" />
                                <div class="product__footer">
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Price per day from</span></li>
                                        <li><span class="cost">USD 975 - 2330 </span>
                                        </li>
                                    </ul><a class="product__btn-book btn btn-secondary btn--round" href="{% url 'profiles:amboselissf6'%}">book
                                        now</a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="category-content__items pad-lg-20">
                        <div class="col-3 col-sm-12 ">
                            <div class="product bg-white js-grid-item product--list">
                                <a class="product__img-top d-block" href=" "><img class="img-fluid"
                                        src="{% static 'img/lakenaivasha/4-day-masai-mara-and-lake-nakuru-private-safari-from-nairobi-in-nairobi-467519.jpg'%}"
                                        alt="#" /></a>
                                <div class="product__body">


                                    <h4 class="product__title"><a href=" ">6 DAYS/MASAI MARA/LAKE NAIVASHA/LAKE NAKURU</a></h4>
                                    <!-- <div class="product__rating mb-2"> 
                                        <div class="rating">
                                            <select class="js-rating-stat" data-current-rating="5">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected="selected">5</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <ul class="product__stat d-flex flex-wrap justify-content-between align-items-center">
                                        <li class="mr-3"><span>Narok County, Naivasha, Nakuru</span><i class="bullet"></i></li>
                                    </ul>
                                    <hr>
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Join now and pay</span></li>
                                        <li><span class="cost">USD </span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <div class="product__desc">
                                        <p>This safari visits two of the best parks in Kenya. Masai Mara which is well known for abundant
                                            wildlife throughout the year. During the months of July – October the world’s wonder of Wildebeest
                                            migration takes place every year. It also visits Lake Naivasha a fresh water lake where you take a
                                            boat ride to view the Hippos. </p><a class="product__link-more" href=" ">Read
                                            more</a>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block" />
                                <div class="product__footer">
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Price per day from</span></li>
                                        <li><span class="cost">USD 950-2085</span>
                                        </li>
                                    </ul><a class="product__btn-book btn btn-secondary btn--round" href="{% url 'profiles:maranakurussf6'%}">book
                                        now</a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="category-content__items pad-lg-20">
                        <div class="col-3 col-sm-12 ">
                            <div class="product bg-white js-grid-item product--list">
                                <a class="product__img-top d-block" href=" "><img class="img-fluid"
                                        src="{% static 'img/maasaimara/a86fab233b324c079958c3a47b1bf4ce.jpeg' %}"
                                        alt="#" /></a>
                                <div class="product__body">


                                    <h4 class="product__title"><a href=" ">7 DAYS MARA-LAKE NAIVASHA-LAKE BOGORIA-LAKE NAKURU</a></h4>
                                    <!-- <div class="product__rating mb-2"> 
                                        <div class="rating">
                                            <select class="js-rating-stat" data-current-rating="5">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected="selected">5</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <ul class="product__stat d-flex flex-wrap justify-content-between align-items-center">
                                        <li class="mr-3"><span>Narok County, Naivasha,Nakuru.</span><i class="bullet"></i></li>
                                    </ul>
                                    <hr>
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Join now and pay</span></li>
                                        <li><span class="cost">USD  </span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <div class="product__desc">
                                        <p>The safari visits four beautiful parks in Kenya. The Mara is the land of African legend: Lion are
                                            abundant throughout the park, as are the elephants, giraffes, and a variety of gazelle species and
                                            zebra. Cheetah and leopard are also regularly seen and less commonly the Rhino. It also visits Lake
                                            Naivasha a fresh water lake where you take a boat ride to view the Hippos. Lake Bogoria, saline water
                                            shallow is located at the northern region of the Kenyan Rift valley south of Lake Baringo.</p><a class="product__link-more" href=" ">Read
                                            more</a>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block" />
                                <div class="product__footer">
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Price per day from</span></li>
                                        <li><span class="cost">USD 1270-3400 </span>
                                        </li>
                                    </ul><a class="product__btn-book btn btn-secondary btn--round" href="{% url 'profiles:maranakurussf7'%}">book
                                        now</a>
                                </div>

                            </div>

                        </div>
                    </div>
                   
                    <div class="category-content__items pad-lg-20">
                        <div class="col-3 col-sm-12 ">
                            <div class="product bg-white js-grid-item product--list">
                                <a class="product__img-top d-block" href=" "><img class="img-fluid"
                                        src="{% static 'img/samburu/gazelle_gerenuk.jpg' %}"
                                        alt="#" /></a>
                                <div class="product__body">


                                    <h4 class="product__title"><a href=" ">10 DAYS/MASAI MARA/LAKE NAIVASHA/LAKE NAKURU/SAMBURU/AMBOSELI</a></h4>
                                    <!-- <div class="product__rating mb-2"> 
                                        <div class="rating">
                                            <select class="js-rating-stat" data-current-rating="5">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected="selected">5</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <ul class="product__stat d-flex flex-wrap justify-content-between align-items-center">
                                        <li class="mr-3"><span>Narok County, Naivasha,Nakuru, Kajiado.</span><i class="bullet"></i></li>
                                    </ul>
                                    <hr>
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Join now and pay</span></li>
                                        <li><span class="cost">USD  </span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <div class="product__desc">
                                        <p>Lion are abundant throughout the parks, as are the elephants,
                                            giraffes, and a variety of gazelle species and zebra. Cheetah and leopard are also regularly seen and,
                                            less commonly, rhino. The annual wildebeest migration, one of nature’s few remaining wildlife
                                            spectacles, occurs in the Mara from July to September where the big animals and their predators are
                                            to be present in abundance during the time frame of this trip.</a>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block" />
                                <div class="product__footer">
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Price per day from</span></li>
                                        <li><span class="cost">USD 1790-4115 </span>
                                        </li>
                                    </ul><a class="product__btn-book btn btn-secondary btn--round" href="{% url 'profiles:maranakurussf10'%}">book
                                        now</a>
                                </div>

                            </div>

                        </div>
                    </div> <div class="category-content__items pad-lg-20">
                        <div class="col-3 col-sm-12 ">
                            <div class="product bg-white js-grid-item product--list">
                                <a class="product__img-top d-block" href=" "><img class="img-fluid"
                                        src="{% static 'img/maasaimara/conservancyimg3.jpg' %} "
                                        alt="#" /></a>
                                <div class="product__body">


                                    <h4 class="product__title"><a href=" ">13 DAYS AMBOSELI/TSAVO EAST/NAIVASHA/NAKURU/MASAI MARA BUDGET SAFARI</a></h4>
                                    <!-- <div class="product__rating mb-2"> 
                                        <div class="rating">
                                            <select class="js-rating-stat" data-current-rating="5">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5" selected="selected">5</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <ul class="product__stat d-flex flex-wrap justify-content-between align-items-center">
                                        <li class="mr-3"><span><i class="bullet"></i>Kajiado County, Naivasha,Nakuru, Narok County.</span><i class="bullet"></i></li>
                                    </ul>
                                    <hr>
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Join now and pay</span></li>
                                        <li><span class="cost">USD  </span>
                                        </li>
                                    </ul>
                                    <hr>
                                    <div class="product__desc">
                                        <p>Kenya&#39;s first game
                                            sanctuary is able to support its wildlife. Mount Kilimanjaro broods high over Amboseli. The mountain
                                            now provides water for the park, wonderful views and, of course, the most glorious background for
                                            animal photography.</p><a class="product__link-more" href=" ">Read
                                            more</a>
                                    </div>
                                </div>
                                <hr class="d-none d-sm-block" />
                                <div class="product__footer">
                                    <ul class="product__price d-flex justify-content-between align-items-center">
                                        <li class="mr-2"><span>Price per day from</span></li>
                                        <li><span class="cost">USD 2090-5670</span>
                                        </li>
                                    </ul><a class="product__btn-book btn btn-secondary btn--round" href="{% url 'profiles:amboselinakurussf13'%}">book
                                        now</a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>

    </div>
</main>
{% include "footer.html" %}
<style>
    p{
        color: black;
    }
</style>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}