{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

<main class="page-main">
    <div class="intro-page d-flex align-items-center" style="margin-top:-20px;">
        <div class="page-intro__cover jarallax"><img class="img-cover" src="https://media.gadventures.com/media-server/image_library/3523462_1080x810_Amboseli_Game_Reserve_Kenya.jpg"
                alt="#" /></div>
        <div class="container p-5 text-center">
            <h1 class="text-uppercase fw-bold" style="color:white; margin-left:70%;">About us</h1>
        </div>
    </div>
    <div class="bg-white">
        <nav class="breadcrumb-nav d-flex align-items-center" aria-label="breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>About Us</span></li>
                </ol>
            </div>
        </nav>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="col-12 col-lg-6 float-lg-left px-0 pr-lg-4 mb-3"><a href="contacts.html"><img class="img-fluid mx-auto"
                        src="{% static 'img/logo2.jpg' %}" alt="#"></a></div>
            <ul class="d-flex justify-content-between">
                <li>
                    <h5 class="fw-bold">Welcome to Kenya -- "Karibuni Kenya" </h5>
                </li>
            </ul>
            <ul class="social-links d-flex mb-3">
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
            </ul>
            <p >Kenya Sharing Safaris was established to give to our clients the opportunity to save money
                by sharing tours with other travellers without compromising the same luxury service
                experience of a private tour. We realized that solo or two travelers find it hard to get a
                safari that best suits their budget, time and schedule. We are here to offer unique joining
                safari experiences at an affordable budget for all. </p>
            <p>
                In this website, our guests can either create a group on their own or join a group already
                open. The site is easy to use and saves time.  All you need to do is simply select the date and
                join a group or create your own.
                Once you have completed the booking process, you will receive an automated confirmation

                voucher and can then invite other passengers to join you or see other people in the group.
                If you would like more information regarding a specific group, we invite you to contact the
                group creator via the link provided for that group.  For private tours kindly contact us
                directly.</p>

            <p>Our experienced driver/guides look forward to providing you with a memorable shared
                safari in Kenya!</p>

            <p class="text-right"><a class="btn btn-btn btn-dark" href="contacts.html" role="button">Our contacts</a>
            </p>
        </div>
        <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
    </div>
</main>
{% include "footer.html" %}
<style>
p{
    color:black;
}
    </style>
{% endblock %}