{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="page-main">
    <div class="intro-page d-flex align-items-center">
        <div class="page-intro__cover jarallax"><img class="img-cover" src="https://pt.best-wallpaper.net/wallpaper/1920x1080/1209/Cheetah-predation-rapid-jumping_1920x1080.jpg" alt="#" /></div>
        <div class="container p-5 text-center">
            <h1 class="text-uppercase fw-bold" style="color:white; margin-left:70%;">About us</h1>
        </div>
    </div>
    <div class="bg-white">
        <nav class="breadcrumb-nav d-flex align-items-center" aria-label="breadcrumb">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:home' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>About Us</span></li>
                </ol>
            </div>
        </nav>
    </div>
    <div class="page-content">
        <div class="container">
            <div class="col-12 col-lg-6 float-lg-left px-0 pr-lg-4 mb-3"><a href="contacts.html"><img class="img-fluid mx-auto"
                        src="{% static 'img/logo2.jpg' %}" alt="#"></a></div>
            <ul class="d-flex justify-content-between">
                <li>
                    <h5 class="fw-bold">Welcome to Kenya -- "Karibuni Kenya" </h5>
                </li>
            </ul>
            <ul class="social-links d-flex mb-3">
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-vimeo"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="mr-3"><a href="#" target="_blank"><i class="fa fa-rss"></i></a></li>
            </ul>
            <p>Aramati Safaris is a tour agency that serves students and church groups traveling throughout East Africa.</p>
            <p>We offer professional, friendly drivers with an excellent knowledge of Kenya wildlife, safe and secure accommodations at all levels (backpackers to luxury tourists), quick and 
                thorough personal service (that's our important part in your visit), and prices that will surprise you. </p>
            <p>
                Could you email us about your safari?  You will reach us at info@aramatisafaris.co.ke, at this phone (+ 254 722 443 274) and at this skype Id: Aramati Safaris. Our clients will tell you, that we love to talk about East Africa, the people, game parks, villages and cities.
                
                At your request, we will provide names and contacts of visitors who have visited Kenya many times with Aramati (which means, by the way, "stewardship" in my mother tongue, Gikuyu.) These are campus leaders and professors, church leaders and pastors, and personal travelers.  
                Let them tell you about Aramati's dedication to service and safety, and our personal dedication to your visit.</p>

            <p class="text-right"><a class="btn btn-btn btn-dark" href="contacts.html" role="button">Our contacts</a>
            </p>
        </div>
        <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
    </div>
</main>
<footer class="page-footer">
    <div class="page-footer__cover jarallax" data-speed="0.5"><img class="jarallax-img" src="img/footer.jpg" alt="#"></div>
    <div class="container mb-5 mb-lg-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <h3 class="h3 text-uppercase">Aramati safaris</h3>
                <ul class="page-footer__address">
                    <li class="mb-2"><strong class="float-left mr-1">A:</strong>
                        Rehema Place, Suite B14, Ngong Road/Ring Road,
                        Adjacent Eastlands Hotel & Opposite Nakumatt Ngong Road (Prestige Plaza)
                    </li>
                    <li class="mb-2"><strong class="float-left mr-1">P:</strong>
                        24/7 customer support:
                        <a href="tel:#">+254 722 44 32 74, +254 734 44 32 74</a>
                    </li>
                    <li class="mb-2"><strong class="float-left mr-1">E:</strong>
                        <a href="mailto:#">info@aramatisafaris.co.ke</a>
                    </li>
                </ul>
                <h4 class="h4 mb-2">Follow us:</h4>
                <ul class="footer-social d-flex flex-wrap">
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                    <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
                <h3 class="h3 text-uppercase">customer support</h3>
                <ul class="page-footer__support list-styled">
                    <li class="mb-2"><a href="#" target="_blank">Faq</a></li>
                    <li class="mb-2"><a href="#" target="_blank">How do I make a reservation?</a></li>
                    <li class="mb-2"><a href="#" target="_blank">Payment options</a></li>
                    <li class="mb-2"><a href="#" target="_blank">Booking tips</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 mt-5">
                <h3 class="h3 text-uppercase">get our best offers</h3>
                <form class="subscribe-form" action="#" method="POST">
                    <div class="input-group input-group--lg flex-nowrap mb-4">
                        <input class="form-control form-control-lg" type="email" placeholder="Enter Your email"
                            required>
                        <div class="input-group-append">
                            <button class="btn btn-btn btn-light btn--round" type="submit"><i class="fa fa-send"></i>
                            </button>
                        </div>
                    </div>
                    <p>We guarantee your confidentiality, and we also undertake not to transfer your email address
                        to third parties.</p>
                </form>
            </div>
        </div>
    </div>
    <div class="page-footer__copyright text-center">
        <div class="container">
            <div class="hr"></div>Copyright © 2014 Aramati Safaris. All rights reserved.<br /><a class="text-light text-uppercase"
                href="https://themeforest.net/user/netgon">This was created by Negrita Developers.
                <script>
                    document.write(new Date().getFullYear());
                </script></a>
        </div>
    </div>
</footer>

{% endblock %}