{% extends 'base.html' %}
{% load static %}

{% block content %}
{{ block.super}}
{% for excurs in excur %}
<main class="page-main">
    <nav class="breadcrumb-nav d-flex align-items-center" aria-label="breadcrumb">
      <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:aboutus' %}">About Us</a></li>
            <li class="breadcrumb-item"><a class="under" href="{% url 'profiles:excursions' %}">Excursions</a></li>
            <li class="breadcrumb-item active" aria-current="page"><span>{{excurs.title}}</span></li>
        </ol>
      </div>
    </nav>
    <div class="page-content">
        <div class="container">
          <div class="row">
            <aside class="sidebar col-lg-3 order-1 order-lg-0">
              <div class="sidebar__content js-sticky-top">
                <section class="sidebar__card card">
                  <div class="sidebar__card-title">
    
                    <h4 class="card-title mb-1">{{excurs.title}}</h4>
                    <hr class="my-3 mt-2" />
                  </div>
    
                  <ul class="sidebar__payment">
                    <li class="d-inline-block align-top mr-5 mb-2">
                      <div class="fw-bold">Package details:</div>
                     <p>{{excurs.details}}</p>
                    </li>
                    <li class="d-inline-block align-top mr-5 mb-2">
                      <div class="fw-bold">On:</div>
                      <ul>
                        <li>{{excurs.depature}}</li>
                      </ul>
                    </li>
                  </ul>
                  <hr class="mt-2">
                  <ul class="sidebar__payment-total">
                    <li class="h4 fw-bold f-primary mb-0">USD {{excurs.price6}}</li>
                    <li>VAT (16%) included</li>
                  </ul>
                </section>
                <section class="sidebar__card card">
                  <div class="sidebar__card-title">
                    <h4 class="card-title mb-1">Need Help Booking?</h4>
                    <hr class="my-3 mt-2" />
                  </div>
                  <p>Call our customer services team on the number below to speak to one of our advisors who will help you
                    with all of your holiday needs.</p>
                  <ul class="sidebar__contacts">
                    <li class="d-flex align-items-center"><i class="icon icon-phone mr-2"></i><a class="fw-bold" href="tel:#">+254 722 44 32 74, +254 734 44 32 74</a></li>
                  </ul>
                </section>
              </div>
            </aside>
            <div class="col-lg-9 d-flex" id="barba-wrapper">
              <div class="barba-container">
                <div class="booking-card card">
                  <div class="card-body">
                    <div class="booking-card__title">
                      <h2>03 Confirmation</h2>
                      <hr class="mb-4">
                    </div>
                    <div class="d-flex flex-wrap align-items-center mb-4">
                      <p class="mark bg-primary-light mb-3">Thank you. Your booking is now confirmed.</p><a class="btn btn-secondary btn--round mb-3 ml-auto d-none d-md-block" href="#" role="button">Print booking</a>
                    </div>
                    <section class="mb-5">
                      <h4>Traveller info</h4>
                      <div class="row">
                        <div class="col-12 col-md-8">
                          <ul class="booking-card__checklist">
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">Booking number:</div><span>15694562</span>
                            </li>
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">Fist name:</div><span>Evgeny</span>
                            </li>
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">Last name:</div><span>Your Travel World</span>
                            </li>
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">E-mail address:</div><span>@your_travel_world</span>
                            </li>
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">Street Address and number:</div><span>Street Smiles house 123</span>
                            </li>
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">Town / City:</div><span>Krasnoyarsk</span>
                            </li>
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">ZIP code:</div><span>982374</span>
                            </li>
                            <li class="d-flex justify-content-between flex-wrap flex-column flex-sm-row mb-3">
                              <div class="fw-sm">Country:</div><span>Russia</span>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </section>
                    <section class="mb-5">
                      <h4>Special requirements</h4>
                      <p>I would like a room overlooking the main square, if possible. To you I will be very grateful. Thank you.</p>
                    </section>
                    <section class="mb-5">
                      <h4>Payment</h4>
                      <p>You have now confirmed and guaranteed your booking by credit card.All payments are to be made at the hotel during your stay, unless otherwise stated in the hotel policies or in the room conditions.Please note that your credit card may be pre-authorised prior to your arrival.</p>
                    </section>
                    <div class="mb-5">
                      <div class="fw-bold">This hotel accepts the following forms of payment:</div>
                      <ul>
                        <li>American Express, Visa, MasterCard</li>
                      </ul>
                    </div>
                    <section>
                      <h4>Cancel Reservation</h4>
                      <p>
                        You can cancel the reservation. To cancel the reservation, please
                        <a href="#">click here.</a>
                      </p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-nav btn-nav--up js-scroll-up" type="button"><i class="fa fa-angle-up"></i></button>
      </div>
      {% endfor %}
    </main>
    <footer class="page-footer">
        <div class="page-footer__cover jarallax" data-speed="0.5"><img class="jarallax-img" src="https://s-media-cache-ak0.pinimg.com/originals/35/76/a5/3576a51097ee19c85932943e6f73ea2f.jpg"
            alt="#"></div>
        <div class="container mb-5 mb-lg-4">
          <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
              <h3 class="h3 text-uppercase">Aramati safaris</h3>
              <ul class="page-footer__address">
                <li class="mb-2"><strong class="float-left mr-1">A:</strong>
                  Rehema Place, Suite B14, Ngong Road/Ring Road,
                  Adjacent Eastlands Hotel & Opposite Nakumatt Ngong Road (Prestige Plaza)
                </li>
                <li class="mb-2"><strong class="float-left mr-1">P:</strong>
                  24/7 customer support:
                  <a href="tel:#">+254 722 44 32 74, +254 734 44 32 74</a>
                </li>
                <li class="mb-2"><strong class="float-left mr-1">E:</strong>
                  <a href="mailto:#">info@aramatisafaris.co.ke</a>
                </li>
              </ul>
              <h4 class="h4 mb-2">Follow us:</h4>
              <ul class="footer-social d-flex flex-wrap">
                <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li class="mr-4"><a class="social-link" href="#" target="_blank"><i class="fa fa-whatsapp"></i></a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 mt-5">
              <h3 class="h3 text-uppercase">customer support</h3>
              <ul class="page-footer__support list-styled">
                <li class="mb-2"><a href="#" target="_blank">Faq</a></li>
                <li class="mb-2"><a href="#" target="_blank">How do I make a reservation?</a></li>
                <li class="mb-2"><a href="#" target="_blank">Payment options</a></li>
                <li class="mb-2"><a href="#" target="_blank">Booking tips</a></li>
              </ul>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 mt-5">
              <h3 class="h3 text-uppercase">get our best offers</h3>
              <form class="subscribe-form" action="#" method="POST">
                <div class="input-group input-group--lg flex-nowrap mb-4">
                  <input class="form-control form-control-lg" type="email" placeholder="Enter Your email" required>
                  <div class="input-group-append">
                    <button class="btn btn-btn btn-light btn--round" type="submit"><i class="fa fa-send"></i>
                    </button>
                  </div>
                </div>
                <p>We guarantee your confidentiality, and we also undertake not to transfer your email address
                  to third parties.</p>
              </form>
            </div>
          </div>
        </div>
        <div class="page-footer__copyright text-center">
          <div class="container">
            <div class="hr"></div>Copyright © 2014 Aramati Safaris. All rights reserved.<br /><a class="text-light text-uppercase"
              href="https://themeforest.net/user/netgon">This was created by Negrita Developers.
              <script>
                document.write(new Date().getFullYear());
              </script></a>
          </div>
        </div>
      </footer>
      
      {% endblock %}