@import "../app/functions";
@import "../app/variables";

$primary:       $red-light;
$primary-light: rgba($primary, 0.20);
$secondary:     $green-light;
$success:       $green;
$info:          $purple;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":       $primary,
  "primary-light": $primary-light,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "purple":     $purple
), $theme-colors);

/*
..######..##....##.####.##....##....########..##.....##.########..########..##.......########
.##....##.##...##...##..###...##....##.....##.##.....##.##.....##.##.....##.##.......##......
.##.......##..##....##..####..##....##.....##.##.....##.##.....##.##.....##.##.......##......
..######..#####.....##..##.##.##....########..##.....##.########..########..##.......######..
.......##.##..##....##..##..####....##........##.....##.##...##...##........##.......##......
.##....##.##...##...##..##...###....##........##.....##.##....##..##........##.......##......
..######..##....##.####.##....##....##.........#######..##.....##.##........########.########
*/

@import "../theme";
